@model RegisterViewModel

@{
    navigationPage.Title = "Register";
    string controllerName = navigationPage.Controller<AccountController>();
    string registerActionName = nameof(AccountController.Register);
}

<div class="container">

    @{ await Html.RenderPartialAsync("_NotificationMessage", Model); }

    <form asp-controller="@controllerName" asp-action="@registerActionName" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()
        <div class="row justify-content-center">
            <div class="col-sm-7">
                <div class="card">
                    <div class="card-header">
                        Sign Up
                    </div>
                    <div class="card-body">
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.UserName, new { placeholder = "User Name"})
                                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Password, new { placeholder = "Password", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-success"><span class="glyphicon glyphicon-log-in">&nbsp;</span>Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
